# Minecraft Data
data/
!data/plugins/WorldEdit/schematics
!data/void/advancements
!data/void/datapacks
!data/server.properties

# Gradle Project
.gradle
.idea
build/
!build/libs
gradle-app.setting
!gradle-wrapper.jar
.gradletasknamecache
