# Minecraft Data
/data/*

# https://blog.s-giken.net/393.html
!/data/server.properties

!/data/plugins/
/data/plugins/*
!/data/plugins/WorldEdit
/data/plugins/WorldEdit/*
!/data/plugins/WorldEdit/schematics

!/data/void
/data/void/*
!/data/void/datapacks

# Gradle Project
.gradle
.idea
Skyblock/libs/*.jar
build/
!build/libs
gradle-app.setting
!gradle-wrapper.jar
.gradletasknamecache

# Other
scripts/env.sh
crazy_advancements
MC-Remapper-master
tmp