# Minecraft Data
/data/*

# https://blog.s-giken.net/393.html
!/data/server.properties

!/data/plugins/
/data/plugins/*
!/data/plugins/WorldEdit
/data/plugins/WorldEdit/*
!/data/plugins/WorldEdit/schematics

# Gradle Project
.gradle
.idea
Skyblock/libs/*.jar
build/
logs/
!build/libs
gradle-app.setting
!gradle-wrapper.jar
.gradletasknamecache

# Other
scripts/env.sh